@use "./variables" as variables; 

@mixin title() { 
    color: variables.$textColor;
    font-family: variables.$fontMontserrat;
    font-weight: 500;
    font-size: variables.$sectionTitleSize;

}

@mixin text () { 
    color: variables.$textColor;
    text-align: justify;
    font-family: variables.$fontMontserrat;
    font-size: variables.$mediumFontsSize; 
}
