// цвет фона нашего приложения 
 $bgcolor: #EABE93; 
 // большой размер шрифта 
 $bigFontsSize: 28px; 
 // средний размер шрифта 
 $mediumFontsSize: 16px;
 //маленький размер шрифта 
 $smallFontsSize: 12px; 
 // цвет зоголовка 
 $colorTitle: #3C251A; 
 //шрифт oleo Script Swash Caps
 $fontOleo: "Oleo Script Swash Caps";
 //шрифт Montserrat 
 $fontMontserrat: "Montserrat";
 //основой цвет текста приложения 
 $textColor: #222222; 
 //размер заголовка секции
 $sectionTitleSize: 24px;





